body{
  margin: 0;
  padding: 0;
  background-image: url('../img/enduit.jpg');
}

/* Small devices (landscape phones, 576px and up) */
@media only screen and (max-width: 575.98px)
{
  #baniere{
    width: 95%;
    margin-top: 60px;
    /* height: 275px; */
    background-color: #353535;
    /* background-image: url('../img/path1249-min.jpg'); */
    /* background-image: url('../img/enduit.jpg'); */
    /* background-size: 95%; */
    /* background-repeat: no-repeat; */
    /* background-position: center; */
    border-radius: 10px;
  }

  #baniere img{
    width: 100%;
  }

  h1{
    text-align: center;
    /* background-color: rgba(217, 217, 217, 1); */
    color: #284B68;
  }

  #cards{
    margin-top: 20px;
  }

  #baniere-text p{
    /* text-align: center;
    font-size: 2em;
    padding: 35px 0px;
    color: #3C6E71; */
  }

  .card{
    /* padding: 10px 39px; */
    width: 80%;
    height: 350px;
    margin: 10px auto;
    border: 3px solid rgba(22, 80, 108, 1);
    border-radius: 1.25rem;
    box-shadow: 4px 5px 3px #16506c;
  }

  .fa-hammer{
    padding: 20%;
  }

  .fa-hard-hat{
    padding: 20%;
  }

  .card-icon{
    text-align: center;
    margin: 10px auto;
    color: #3C6E71;
    padding: 20px;
    /* border: solid 4px #16506c; */
    width: 130px;
    border-radius: 50%;
    height: 130px;
  }

  .card-text{
    text-align: center;
    margin: 5px 0;
  }
}

/* Medium devices (tablets, 768px and up) */
@media only screen and (min-width: 767.98px)
{
  #baniere{
    position: relative;
    height: 450px;
    background-image: url('../img/express-baniere-min.png');
    /* background-size: 80%; */
    background-repeat: no-repeat;
    background-position: center;
  }

  .navbar-collapse{
    flex-grow: unset;
  }
}

/* Large devices (desktops, 992px and up) */
@media only screen and (min-width: 991.98px) 
{
  #baniere{
    position: relative;
    height: 550px;
    background-image: url('../img/express-baniere-min.png');
    /* background-size: 80%; */
    background-repeat: no-repeat;
    background-position: center;
  }
}

/* X-Large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1199.98px)
{
  #baniere{
    position: relative;
    min-height: 690px;
    background-image: url('../img/express-baniere-min.png');
    /* background-size: 80%; */
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .navbar-collapse{
    flex-grow: unset;
  }
}